/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Resets */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Archivo', sans-serif;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: #888f96;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

/* Flex */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  size: 1.2rem;
  font-weight: 700;
  color: white;
}

/*  Container */
.container {
  margin: 0 auto;
  padding: 0 32px;
  height: 200px;
  width: 200px;
}

h1 {
  font-size: 2.5rem;
  color: #333333;
  text-align: center;
  padding: 3rem;
}

/*2D-Cube*/
.cube-2D {
  position: relative;
  height: 200px;
}

.cube-2D .side {
  height: 95px;
  position: absolute;
  width: 95px;
}

.cube-2D .top {
  background: red;
  -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
          transform: rotate(-45deg) skew(15deg, 15deg);
}

.cube-2D .left {
  background: blue;
  -webkit-transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
          transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
}

.cube-2D .right {
  background: pink;
  -webkit-transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
          transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
}

/*3D-Cube*/
.cube-container {
  -webkit-perspective: 300;
          perspective: 300;
  position: relative;
  -webkit-transition: -webkit-transform 4s ease-in-out;
  transition: -webkit-transform 4s ease-in-out;
  transition: transform 4s ease-in-out;
  transition: transform 4s ease-in-out, -webkit-transform 4s ease-in-out;
}

.cube-container:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.cube-container .cube-3D {
  height: 100%;
  position: absolute;
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
}

.cube-container .side {
  background: rgba(45, 179, 74, 0.3);
  border: 2px solid #2db34a;
  height: 196px;
  position: absolute;
  width: 196px;
}

.cube-container .front {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

.cube-container .back {
  -webkit-transform: rotateX(180deg) translateZ(100px);
          transform: rotateX(180deg) translateZ(100px);
}

.cube-container .left {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
          transform: rotateY(-90deg) translateZ(100px);
}

.cube-container .right {
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
}

.cube-container .top {
  -webkit-transform: rotateX(90deg) translateZ(100px);
          transform: rotateX(90deg) translateZ(100px);
}

.cube-container .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
}

.cube-container:hover, .cube-2D:hover {
  -webkit-animation: myAnimation 2s linear 0s infinite alternate none;
          animation: myAnimation 2s linear 0s infinite alternate none;
}

@-webkit-keyframes myAnimation {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes myAnimation {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
/*# sourceMappingURL=style.css.map */